
@keyframes dashFlash {
    25% {color: #fff;}
    50% {color: #616161;} 
}
 @keyframes arrowFlash {
    25% {color: #111;}
    50% {color: #fff;}
}
@keyframes arrowRotateDown {
    from {transform: rotate(180deg);}
    to {transform: rotate(0deg);}
}
@keyframes arrowRotateUp {
    from {transform: rotate(0deg);}
    to {transform: rotate(180deg);}
}
@keyframes arrowAdjustBottomDown {
    from {top: -8px;}
    to {top: 0px;}
}
@keyframes arrowAdjustBottomUp {
    from {top: 0px;}
    to {top: -8px;}
}

@keyframes arrowAdjustTopDown {
    from {top: 0px;}
    to {top: 8px;}
}
@keyframes arrowAdjustTopUp {
    from {top: 8px;}
    to {top: 0px;}
}

.numWindowAnimation {
    animation: dashFlash 1s linear infinite;
}

.arrowAdjustBottomDownAnimation {
    animation: arrowAdjustBottomDown 6s linear 1;
}

.arrowAdjustBottomUpAnimation {
    animation: arrowAdjustBottomUp 6s linear 1;
}

.arrowAdjustTopDownAnimation {
    animation: arrowAdjustTopDown 6s linear 1;
}

.arrowAdjustTopUpAnimation {
    animation: arrowAdjustTopUp 6s linear 1;  
}

.arrowFlashAnimation {
    animation: arrowFlash 1.5s ease-in-out infinite;
}

.arrowRotateDownAnimation {
    animation: arrowRotateDown 0.5s linear 1;
}

.arrowRotateUpAnimation {
    animation: arrowRotateUp 0.5s linear 1;
}

