
/*  */
/* ELEMENT ID */

#firstPage, #lastPage, #nextPage, #previousPage {
    margin: 5px;
}

#getPokemonForm {
    right: calc(950px - 50%);
    width: 950px;
}

#headerText {
    max-width: 950px;
}

/* @1024 min-width: 1px; */
 

#pagesLeft {
    margin-left: 75px;
}

#pagesRight {
    margin-right: 75px;
}

#pokedex {
    width: 950px;
}

#searchGroup {
    width: 950px;
}

/* ELEMENT CLASS */

.fillerCard {
    background-image: url('../img/301x208.png');
    background-repeat: no-repeat;
    background-size: cover;
    border: 4px solid #0b164e;
    border-radius: 10px;
    height: 301px;
    width: 208px;
    margin: 4px auto;
    top: 0px;
}

.pokemonCard {
    height: 301px;
    width: 208px;
    margin: 8px 4px;
}

/* STYLE CLASS */

/* TYPE CLASSES */