
/*  */
/* ELEMENT ID */

#firstPage, #lastPage, #nextPage, #previousPage {
    margin: 5px;
}

#getPokemonForm {
    width: 950px;
}

#headerText {
    max-width: 950px;
}

/* @1024 min-width: 1px; */
#leftOutterBorder, #rightOutterBorder {
    background-color: black;
    min-width: 1px;
    width: 100%;
}


#lowerLeftInnerBorder, #lowerRightInnerBorder, #midLeftInnerBorder, #midRightInnerBorder, #pageButtonsLeftBorder, #pageButtonsRightBorder, #upperLeftInnerBorder, #upperRightInnerBorder {
    width: 200px;
}

#pagesLeft {
    margin-left: 75px;
}

#pagesRight {
    margin-right: 75px;
}

#pokedex {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
    width: 950px;
}

#searchGroup {
    width: 950px;
}

/* ELEMENT CLASS */

.fillerCard {
    background-image: url('../img/249x170.png');
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #0b164e;
    border-radius: 10px;
    height: 249px;
    width: 170px;
    margin: 5px 5px;
    top: 0px;
    position: relative;
    z-index: 1;
}

.pokemonCard {
    height: 249px;
    width: 170px;
    margin: 5px 5px;
}

.pokemonTypesDiv {
    display: flex;
}

/* STYLE CLASS */

/* TYPE CLASSES */