@import 'l-xl-styles.css';

/* "Flexo-Regular", arial, sans-serif; */

/* STYLE CLASSES */

.border-radius-5 {
    border-radius: 5px;
}

.bg-color-dark {
    background-color: #313131;
}

.bg-color-gray {
    background-color: #616161;
}

.dev-border {
    border: solid 1px black;
}

.flex-default {
    display: flex;
}

.flex-right {
    display: flex;
    justify-content: flex-end;
}

.font-18 {
    font-size: 18px;
}

.font-20 {
    font-size: 20px;
}

.j-c-between {
    justify-content: space-between;
}

.j-c-start {
    justify-content: flex-start;
}

.margin-x-auto {
    margin-left: auto;
    margin-right: auto;
}

.margin-y-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.width-50 {
    width: 50%;
}

.width-100 {
    width: 100%;
}

/* TAGS */

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: gray;
    border: none;
}

/* IDS */
#container {
    
}

#getPokemonForm, #headerText, #searchGroup  {
    padding-left: 25px;
    padding-right: 25px;
}

#headerText {
    width: 100%;   
}

#headerText > span {
    color: #919191;
    line-height: 60px;
}

#lowerLeftInnerBorder, #lowerRightInnerBorder, #upperLeftInnerBorder, #upperRightInnerBorder {
    background-color: red;
    min-width: 50px;
}

#loadingPlace {
    text-align: center;
    line-height: 250px;
    height: 250px;
    width: 100%;
}

#midLeftInnerBorder, #midRightInnerBorder, #searchGroup {
    background: #313131;
    padding-top: 25px;
    padding-bottom: 25px;
}

#pageButtonsGroup {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

#pokemonPerPage, #searchBar, #sort {
    width: 300px;
}

#pokemonPerPage, #sort {
    border: 3px solid #313131;
    height: 48px;
}


#customPokeBall {
    background: #3ec8f0;
    border: 4px solid #313131;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    position: absolute;
    z-index: 1;
}

#cpbButtonGroup {
 
    
    height: 100px;
    width: 100px;
    position: relative;
    z-index: 2;
}

#cpbUpperBorder {
    background: #313131;
    height: 2px;
    width: 100px;
    top: 50%;
    position: relative;
    z-index: 3;
}
#cpbUpperBorderEllipse
#cpbLowerBorderEllipse {

}

#cpbLowerBorder {
    background: #313131;
    height: 2px;
    width: 100px;
    top: 50%;
    position: relative;
    z-index: 3;
}

#outterButton {

}

#innerButton {

}

#openPokeball {

}

#cpbCenter {
    height: 100px;
    width: 100px;
    margin-top: -50%
}

#cpbLower {
    background: #fff;
    clip-path: ellipse(50% 50% at 50% 0%);
    height: 100%;
    width: 100%;
    margin-top: -50%;
}

#cpbUpper { 
    background: #e3350c;
    clip-path: ellipse(50% 50% at 50% 100%);
    margin-top: -50%;
    height: 100%;
    width: 100%;
}


#theballUpper, #theballLower {
    
}

#pokemonPerPage {
    
}

#sort {
    background: #313131;
    
    color: #fff;
    padding-left: 8px;
}

#resetButtonGroup {
    margin: auto;
    margin-bottom: 10px;
}

#resetLeftBorder, #resetRightBorder {

}

#resetWrapper {
    background: #616161;
    clip-path: polygon(0 0, 100% 0, 
                        100% 56px, 933px 56px,
                        930px 57px, 927px 59px,
                        921px 64px, 913px 70px,
                        911px 71px, 909px 72px,
                     
                        491px 72px, 489px 71px,
                        487px 70px, 479px 64px,
                        473px 59px, 470px 57px,
                        467px 56px, 0 56px); 
    height: 72px;
    margin-bottom: -16px;
}

#searchBanner {
    background: #4dad5c;
    border-radius: 5px;
    color: #fff;
    max-width: 430px;
    padding: 20px;
}

#searchBar {
    border: 3px solid #616161;
    height: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
}

#searchBarGroup {
    display: flex;
}

#searchGroup {
}

#searchLabel {
    margin-bottom: 5px;
}

#searchLabelSpan {
    color: #fff;
}

#searchWrapper {
    
}

#selectGroup {
    margin-top: 48px;
}

/* ELEMENT CLASSES */


.pokemonType {
    width: 50px;
}

.sortIcon {
    padding-right: 12px;
    color: blue;
}

.type1 {
    
}    

.type2 {
    
} 

/* TYPE CLASSES */
.bug {
    background: #73a040;
}

.electric {
    background: #eed535;
}  

.dragon {
    background: linear-gradient(180deg, #52a4cf 50%, #f16e57 50%);
}

.fairy {
    background: #fdbae9;
}    

.fighting {
    background: #d56722
}    

.fire {
    background: #fc7d23;
}    

.flying {
    background: linear-gradient(180deg, #3ec8f0 50%, #bdbab9 50%);
}    

.ghost {
    background: #7b62a3;
}    

.grass {
    background: #9BCC50;
}        

.ground {
    background: linear-gradient(180deg, #f7de40 50%, #ab9842 50%);
}            

.ice {
    background: #50c3e7;
}    

.normal {
    background: #a3acaf;
}            

.poison {
    background: #B97FC8;
}

.psychic {
    background: #f366b9;
}                

.rock {
    background: #a38c20;
}            

.steel {
    background: #9eb7b8;
}    

.water {
    background: #4592c5;
}
