

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;600&display=swap');
@import 'animations.css';
@import 'classes.css';
@import 'l-xl-styles.css';
@import 'page-borders.css';
@import 'pokedex.css';
@import 'pokedex-decoration.css';


#container {
    display: flex;
    font-family: 'Exo 2', sans-serif;
    height: 100%;
}

/* TAGS */
button:focus {
    outline: none;
}

input:focus {
    outline: none;
}

select:focus {
    outline: none;
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: gray;
    border: none;
}

/* IDS */

#directionLabel > span, #headerText, #searchBanner > span {
    font-weight: 300;
}



#directionLabel {
    margin: 10px 0;
    width: 300px;
}

#directionLabel > span {
    color: #fff;
    font-size: 18px;
}

#headerText, #searchGroup  {
    padding-left: 25px;
    padding-right: 25px;
}

#headerText {
    width: 100%;   
}

#headerText > span {
    color: #919191;
    font-size: 28px;
    line-height: 60px;
}

#headingWrapper, #resetWrapper, #searchWrapper {
    display: flex;
    position: relative;
    z-index: 27;
}

#searchGroup {
    background: #313131;
    padding-top: 25px;
    padding-bottom: 25px;
}

#resetButtonGroup {
    margin-top: 36px;
    margin-left: 50%;
}

#resetWrapper {
    background: #616161;
    clip-path: polygon(0 0, calc(100% + 1px) 0, 
                        calc(100% + 1px) 56px, 933px 56px,
                        930px 57px, 927px 59px,
                        921px 64px, 913px 70px,
                        911px 71px, 909px 72px,
    
                        491px 72px, 489px 71px,
                        487px 70px, 479px 64px,
                        473px 59px, 470px 57px,
                        467px 56px, 0 56px); 
    height: 72px;
    margin-bottom: -16px;
}

#searchBanner {
    background: #4dad5c;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    max-width: 430px;
    margin: 5px 0 auto;
    padding: 20px;
}

#searchBar {
    border: 3px solid #616161;
    border-radius: 5px;
    font-size: 20px;
    height: 24px;
    width: 300px;
    padding-top: 8px;
    padding-bottom: 8px;
}

#searchGroup {
    display: flex;
    justify-content: space-between;
}

#searchLabel {
    margin-bottom: 5px;
}

#searchLabel > span {
    color: #fff;
    font-size: 28px;
    font-weight: 300;
}
